*{
  margin: 0;
  header: 0;
  border: 0:
}
/*A wee bit of padding on the top*/
body {
  padding-top: 30px;
  background-image: url(https://endpoint895270.azureedge.net/static/mediabank/milk-splash-blue.jpg);

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      }

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
    }

/*Navigation Bar maybe #3d4544?   #2999d0*/
.fixed {
  position: fixed;
  top: 0;
  transform:translateY(-50px);
  transition:all 1s ease;
}
.fixed-animation{
  top:0;
  transform:translateY(0px);
  transition:all 1s ease;
}
ul {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d4544;
    position: inherit;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to white on hover */
li a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}
li a.active{
  background-color: white;
  color: black;
  text-decoration: none;
}
#bgColour {
 background: rgba(255, 255, 255, 0.87);
 (61,69,68,0.8)

 border-style: double;
}
