{% extends 'MILK/base.html' %}

{% block title_block %}
  TEST- add item
{% endblock %}

{% block body_block %}

    This is where we try to add an item to the database
    <div>
      <form id="itemForm" method="post" action".">

      {% csrf_token %}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
      {% endfor %}

      <!-- Button to click to submit the form -->

      <input type="submit" name="submit" value="Add Item" onClick ="itemAlert()"/>
      </form>

      <script>
        function itemAlert(){
          alert("Item added to list")}
       </script>
  </div>

{% endblock %}
