<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- makes
    website available on all devices -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"  type="text/css">
    <title>
      Pick Up the Milk - {% block title %}The Flatshare Shopping List{% endblock %}
    </title>
  </head>
  <body>


    <!-- NAVIGATION  BAR -->
    <div class="padding">
    </div>

    {% block navigation_block %}
    <nav>
        <img src="{%static "images/milklogo - white.png" %}" alt= "Milk Carton Logo"/>

        <ul>

          {% if app_url == '/' %}
          <li><a class="active" href="{% url 'home' %}">Homepage</a></li>
          {% else %}
          <li><a href="{% url 'home' %}">Homepage</a></li>
          {% endif %}

          {% if user.is_authenticated %}
              {% if app_url == '/profile/' %}
              <li><a class="active" href="{% url 'profile' user.username %}">Profile</a></li>
              {% else %}
              <li><a href="{% url 'profile' user.username %}">Profile</a></li>
              {% endif %}
          {% endif %}

          {% if app_url == '/about/' %}
          <li><a class="active" href="{% url 'about' %}">About</a></li>
          {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          {% endif %}

          {% if app_url == '/contact/' %}
          <li><a class="active" href="{% url 'contact'%}">Contact Us</a></li>
          {% else %}
          <li><a href="{% url 'contact'%}">Contact Us</a></li>
          {% endif %}

          {% if app_url == '/sitemap/' %}
          <li><a class="active" href="{% url 'sitemap' %}">Site Map</a></li>
          {% else %}
          <li style = center><a href="{% url 'sitemap' %}">Site Map</a></li>
          {% endif %}

          {% if user.is_authenticated %}
          <li style="float:right"><a href="{% url 'auth_logout' %}?next=/">Logout</a></li>
          {% else %}
          <li style="float:right"><a href="{% url 'auth_login' %}">Log in/Register</a></li>
          {% endif %}

        </ul>

        <div id="sitename"><navbarfont>Pick Up The Milk!</navbarfont></div>

    </nav>

    {% endblock %}



    <!--BODY OF THE TEXT-->

    <!--SIDE BAR - COMMENTED OUT AS SHOWS UP ON PROFILE PAGE AS WELL. THINK IT'S BETTER TO DO ON PAGE-BY-PAGE BASIS.-->
    <div class="col-md-3 main_content">
      <div id="bgColour">
        {% block side_block %}

          {% if user.is_authenticated %}
            {% include 'MILK/profilesidebar.html' %}
          {% endif %}

        {% endblock %}
      </div>
    </div>

    <!-- Main section-->
    <div class="col-md-8 main_content">
      <div id="bgColour">
        {% block body_block %}

        {% endblock %}
      </div>
    </div>


    <!-- FOOTER -->
  {% block footer %}
    <div class="footer">
      <div class="position">
        <a href="{% url 'home' %}">Homepage</a>
        <a href="{% url 'about' %}">About/FAQ</a>
        <a href="{% url 'contact'%}">Contact Us</a>
        <a href="{% url 'sitemap' %}">Site Map</a>
      </div>
    </div>
  {% endblock %}

    <!--maxCDN -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library  -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/milk-ajax.js" %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/pagescript.js' %}">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
  </html>
