<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Pick Up the Milk - {% block title %}The Flatshare Shopping List{% endblock %}
    </title>
    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href=
                  "http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark navbar-fixed-top bg-inverse navbar">
    <button type="button" class="navbar-toggler hidden-sm-up"
            data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">PickUpTheMilk</a>
    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
 </nav>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block body_block %}{% endblock %}
        </div>

    </div>
    <footer>
        <div>
            <a href="{% url 'about' %}">About/FAQ</a>
            <a href="{% url 'contact'%}">Contact Us</a>
            <a href="{% url 'sitemap' %}">Site Map</a>
            <a href="{% url 'home' %}">Homepage</a>
        </div>
    </footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script
        src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script
        src=
                "http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.j\
s">
</script>
</body>
</html>