{% extends 'MILK/base.html' %}

{% block title_block %}
  Create a Group
{% endblock %}

{% block body_block %}
    {% if user.groups.all.0  %}
      <h3>Unable to create new group! You are already a member of: {{ user.groups.all.0 }}</h3>
    {% else %}
      <h3> Create the group you want to share costs with!</h3>
      <div>
        <form id = "groupForm", method = "post", action = "/create-group/">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
          <input type="submit" name="submit" value="Submit" />
        </form>
    {% endif %}
{% endblock%}
