{% extends 'MILK/base.html' %}

{% load staticfiles %}

{% block title_block %}
		Group Page
{% endblock %}

{% block body_block %}
	<!--Code to make sure that you can't view someone else's group-->
	<!--Can/should probably be refactored to be done in the view!-->
	{% for profile in members %}
		<!--Check to see if user is a member of group-->
		<!--Will only render once as they can only be a member once -->
		{% if profile == user %}

		<div id = "adminblock">
		  <h3>Group page for {{ currentgroup.name }}</h3>
		  <h4>The group admin is <a href="{% url 'profile' groupdetail.administrator.userprofile.slug %}">{{ groupdetail.administrator }}</a></h4>

		  <div id="memberdiv"><b>Group Members:</b>
		    {% for profile in members %}
		      <li><a href="{% url 'profile' profile.userprofile.slug %}">{{ profile.username }}</a></li>
		    {% endfor %}
		  </div></br>



			<!-- Left column -->
			<div class="col-md-6">
					<!-- Include template allowing admin to settle group balances -->
					<hr/>
					{% include 'MILK/settle-up.html' %}
			</div>



			{% if user == groupdetail.administrator %}

			<hr/>
			<b>You can see the boxes below as the group admin!</b></br>

				<div>
						<!-- Right column -->
            <div class="col-md-6 ">
								<hr/>
								<h3>Add users to {{ currentgroup.name }}</h3>

								<input class="input-medium search-query" type="text" data-groupname="{{ user.groups.all.0 }}" name="usersearch" value="" id="usersearch" />

                <ul class="nav nav-list">
                    <li class="nav-header"><b>Search for a user to add</b></li>
                    <form>
                        </li>
                    </form>
                </ul>

                <div id="Users"></div>

								<hr/>

								<h3>Remove users from {{ currentgroup.name }}</h3>
								<!-- Form to remove a user from a group - only visible to admin -->
								<form id="RemoveUser" method="post" action".">

								  {% csrf_token %}
									{{ removeform.as_p }}

							  <!-- Button to click to submit the form -->
								<input type="submit" name="removeuserbutton" value="Remove member from {{ currentgroup.name }}">
						</div>
				</div>

		</div>

		<!-- Invisible character for formatting linebreaks -->
		&#8291
		<hr/>
			{% endif %}
		{% endif %}
	{% endfor %}


	Trouble with viewing group information? Perhaps you're not a member of {{ currentgroup.name }}...

{% endblock %}
