{% extends 'MILK/base.html' %}
{% load staticfiles %}

{% block title_block %} Home {% endblock %}

<!--START OF THE RIGHT SECTION-->

{% block body_block %}
<!--HEADER LOGO AND GREETING-->

<div>
      <h2> Welcome back, {{ user.username }}! </h2>
       Use our website and we definitely won't harvest your shopping data and use it to target ads at you.
</div>

<!--ADD ITEMS SECTION-->

{% if user.groups.all.0 %} </br>

<!-- Attempting to add in some AJAX -->
		<div>
			  <input class="input-medium search-query" type="text" name="suggestion" value="" id="suggestion" />

				<ul class= "nav nav-list">
				    <li class="nav-header">Add stuff!</li>
        </ul>

        <hr/>
        <!-- <a href="{% url 'needsbought' %}">Running out of something? Mark it as needing bought here!</a> -->
            <!--Sets modal button type-->


        <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#pickUp" >Let your group know an item needs bought!</button>
        <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#recPurchase" >Record a purchase you've made</button>

        <!-- Modal templates   -->
        {% include 'MILK/recPurModal.html' %}
        {% include 'MILK/pickupModal.html' %}
        <hr/>
    </div>

    <div id = columns>
        <!-- Left column -->
        <div class="col-md-4">
          <h3>Items needed</h3>
          <div>
            {% include 'MILK/needsBoughtList.html' %}
          </div>
          </br>
        </div>

      <!-- Right column -->
        <div class="col-md-8 ">
          <h3> Other things you should be doing </h3>
          <li><a href="{% url 'group' user.groups.all.0 %}">Settle up all balances.</a><br/>
          <li>Want to buy something new?</li>
            <!--would be really could if this didn't need to refresh, AJAX?-->
                {% include 'MILK/newItemTemplate.html' %}
          <hr/>

          <!-- <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#recPurchase" >Record Purchase</button> -->
          <!-- <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#pickUp" >Things to Pick Up!</button> -->
        </div>
    </div>

{% else %}
  <!-- User has no group, so we give them the option to create a group -->
  You are not a group member, create one <a href="{% url 'create-group' %}"> HERE!</a> or ask a group to invite you
  {% include 'MILk/createGroupTemplate.html' %}
{% endif %}

  <!-- INCLUDE GOOGLE MAPS! -->
<div class="col-md-12" >
    <!-- Invisible character for formatting linebreaks -->
    &#8291
    <hr/>

    <h3> Search for your nearest store</h3>
    {% include 'MILK/maps.html' %}
</div>

{% endblock %}
