{% extends 'MILK/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Home
{% endblock %}

{% block body_block %}
<h1> <img src="{%static "images/milklogo.png" %}" alt=""Milk Carton Logo" height ="100"/>
  Welcome to Passive Aggressive Cost-Sharing Application v. 0.2
</h1>

<!-- Stylesheet for the Google Maps box  -->
<link rel="stylesheet" href="{% static 'css/googlemapsstylesheet.css' %}" />

<section>

    {% if user.is_authenticated %} Welcome back, {{ user.username }} </br></br>

    <div>
        <h6>Communal shopping list: (Need to handle a single group's empty list more gracefully!)</h6>

    </div>
    <div>
        {% if Items %}
        <ul>
            {% for item in Items %}
              {% if user.groups.all.0 == item.groupBuying %}
                <li>
                  {{ item.itemName }}
                </li>
              {% endif %}
            {% endfor %}
        </ul>
        {% else %}
          Your shopping list is empty.
        {% endif %}
      </br>
    </div>

    <a href="{% url 'needsbought' %}">Update your pick up items (this is shit English, but it's a placeholder link so who cares)</a>
      <div>

          <h6> Items you need to <strong>pick up</strong> (just like the name of the app!)</h6>
          {% if Items %}
            {% for item in Items %}
              {% if user.groups.all.0 == item.groupBuying %}
                {% if item.itemNeedsBought %}
                  <li>
                    {{ item.itemName }}
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
         <!--Should this only appear if there are items in the to buy list
         should we be able to add and record the purchase of items on the same page
         For the case of someone realising then need something when they are in the shop-->
          <a href="{% url 'buyitem' %}">Record Purchase</a>

      </div>

    {% else %}

      Use our website and we will harvest your shopping data and use it to target ads at you!
        <aside>
            <p>
                <a href="{% url 'auth_login' %}?/next=/">Login</a> or
                <a href="{% url 'registration_register' %}">Register</a>
                <p>
        </aside>
      {% endif %}

</section></br>

<!-- Insert Google Maps box -->

<section>
      Search for your nearest store! - need to add geolocation
      <div id="map" style="width: 600px; height: 600px;"></div>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <script src="{% static "js/maps.js" %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHUixbKEMTudErjgqYCYg4Ukil-5EuSFE&libraries=places&callback=initAutocomplete"
           async defer></script>
      </div>
</section>
{% endblock %}
