{% extends 'MILK/base.html' %}
{% load staticfiles %}

{% block title_block %} Update shopping list {% endblock %}

{% block body_block %}
<h1>Update your shopping list</h1>



    {% if user.is_authenticated %} Welcome back, {{ user.username }}! </br>

	<!-- AJAX for adding items to needs bought list -->
				
		<div>		
			<input class="input-medium search-query" type="text"
				name="needsBoughtSuggestion" value="" id="needsBoughtSuggestion" />
				
				<ul class= "nav nav-list">
					<li class="nav-header"><b>Type in the name of the item which need to be replenished...</b></li>
					<form>

					</li>
				</form>
			</ul>
				<hr /> 
				
				<div id="Items">
				</div>
		</div>
		<!-- End of Ajax -->
	
   
        <h6> ...or choose it from the drop-down!</h6>


    <div>
        <form id="needsBoughtForm" method="post" action"."}>

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
        {% endfor %}

        <input type="submit", name="submit", value="Item needs replenished">

        {% if Items %}


        <ul>
            {% for item in Items %}

                {{ item.itemName }}



            </li>

            {% endfor %}
        </ul>
        {% else %}
          This should only appear when there are no items. How suspect.
        {% endif %}



    </div>
      {% endif %}

{% endblock %}