<!-- Template for displaying a list of items which need to be bought by the group-->

<div id = "pickuplist" class=scroll-list>
    {% if Items %}
        {% for item in Items %}
            {% if user.groups.all.0 == item.groupBuying %}
                {% if item.itemNeedsBought %}
                    <li>
                        {{ item.itemName }}
                    </li>
                {% endif %}
             {% endif %}
        {% endfor %}
    {% else %}
        No items currently needed.
    {% endif %}
</div>
