
<!-- As this is a very different website to our core design, this website does not
extend the base. This site also has its own css to enable a wider mix of styles particular
to this page only -->

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/parallax.css' %}">
    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"  type="text/css">

  </head>
  <body>

    <div class="bgimg" >
      <div class="logo">
        <h1>  <img src="{%static "images/milklogo.png" %}" alt= "Milk Carton Logo" height ="100"/>
    Pick Up The Milk! <subheading>- The Passive Aggressive Cost Sharing App&#8482;</subheading></h1>
      </div>
    </div>

    <div class="bgimg1">
      <div class="div1">
        <h2>Welcome!</h2>
        <p> Have you ever just gotten up of bed and discovered that your beloved flatemate forgot to
          <subheading> Pick Up The Milk </subheading> and now you are left with nothing but dry cereal?
          Don't worry. This has happened to us too. More often than we would like to admit.... But Have no fear!
          We are here to help! So put away your angry face and keep reading....
      </div>
    </div>

    <div class="bgimg2">
      <div class="div1">
        <h2 >So.... How does it work? </h2>
        <p> is in faucibus. Fusce varius leo non erat hendrerit, facilisis porttitor nulla tempus. Phasellus ac urna faucibus, sollicitudin metus faucibus, viverra mi. Pellentesque tempus purus leo, sit amet lobortis purus convallis id. Nam eget euismod tortor, at rhoncus sapien. Nam sit amet urna non est molestie gravida a id risus. Aliquam tellus felis, vulputate non molestie id, egestas nec quam. Nulla nulla velit, fringilla vel nulla ut, molestie laoreet lectus. Praesent sed nisl et nibh euismod dignissim vel nec lacus. Suspendisse a tellus dui. Proin mauris dui, tincidunt sed quam vitae, porttitor egestas dolor. Aenean nisi neque, vestibulum mattis diam et, convallis egestas augue. Cra
      </div>
    </div>

      <div class="div1">
        <h2>SO DONT WAIT! AND SIGN UP OR LOG IN</h2>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque eu nulla sodales facilisis. Duis in quam dictum, vulputate nisl ac, aliquet odio. Praesent in semper ipsum, in vulputate metus. Integer nisl metus, fringilla facilisis justo iaculis, posuere aliquet tortor. Aliquam sit amet gravida nisi. Donec sagittis quis eros ac viverra. Donec cursus, ligula luctus sollicitudin rhoncus, nisl urna scelerisque diam, eu elementum neque quam ultricies elit. Donec lobortis semper quam, quis dapibus nibh tristique ut. Integer sed luctus nulla, ac lacinia orci. Nulla convallis ipsum sit amet libero congue aliquet. Nulla facilisi. Suspendisse iaculis quis nisi at rhoncus. Proin vel est sed ligula laoreet interdum. In hac habitasse platea dictumst.

      </div>



  </body>
</html>
