<!-- Modal popup for recording a purchase. Used on home -->

<div id="recPurchase" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter Purchase Details</h4>
            </div>

            <div class="modal-body">
                <div>
                    <form id="RecordPurchase" method="post" action="." }>

                        {% csrf_token %}

                        {{ purchaseform.as_p }}

                    <input type="submit" , name="purchaseButton" , value="Record a purchase">
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
