<!-- IMPORTANT - if including on a page, make sure you're passing 'members' or an eqivalent through the corresponding view-->

<h3>Settle up the balances</h3>

<b>Group Members</b>

<div id="initial">
    <li class="nav nav-pills flex-column">
        {% if members %}
            Since the last time your group settled up,</br>
            {% for userprofile in members %}
              {{ userprofile }} has spent: £{{ userprofile.userprofile.balance }}
            </br>
            {% endfor %}
        {% endif %}
    </li>
</div>

<div id="settled_balances"></div>

<button id="average_balances" data-groupname="{{ user.groups.all.0 }}" class="btn btn-primary btn-sm" type="button">
    Who owes whom?
</button>

<!-- Only group admin is able to reset balances  -->
{% if user == groupdetail.administrator %}

  <button id="settle_balance" data-groupname="{{ user.groups.all.0 }}" class="btn btn-primary btn-sm" type="button">
      Reset balances
  </button>
{% endif %}


<!-- can we set this div to appear in a modal? -->
<div id="averaged_balances"></div>
