{% extends 'MILK/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Settle Up
{% endblock %}

{% block body_block %}
<p>Settle up the balances</p>


  <div><b>Group Members</b>

<div id="initial">
<ul class="nav nav-pills flex-column">
	{% if settled_balances %}
	Since the last time the house settled up</br>
		{% for UserProfile in settled_balances %}
			{{ UserProfile }} has spent: {{ UserProfile.userprofile.balance }}

			</br>
		{% endfor %}
	{% endif %}
</ul>
</div>


	<!-- Non-dynamic display
    {% for profile in members %}
      <ul><a href="{% url 'profile' profile.username %}" >{{ profile.username }} has a
        balance of: {{ profile.userprofile.balance }} </a></ul>
    {% endfor %}
  </div></br>
	-->
	<div id ="settled_balances">
	<div>
	<button id = "settle_balance" data-groupname="{{ user.groups.all.0 }}"
		class="btn btn-primary btn-sm" type="button"> 
		Settle balances
	</button>	
  </div>


{% endblock %}


<!-- Need to set it up so the button passes the entire group to the view, which can 

then 0 the balances -->