{% extends 'MILK/base.html' %}

{% load staticfiles %}

{% block title_block %}
		{{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
  <div>
  <h3>{{ selecteduser.username }}'s profile</h3>

	{% if userprofile.picture %}
		<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
     	width="64"
     	height="64"
     	alt="{{selecteduser.username}}" />
			<br/>
	{% else %}
		<img width="64" height="64" src="http://lorempixel.com/64/64/people/"/>
		{% if selecteduser.username == user.username %}
			Why not upload your own profile picture?
		{% else %}
			{{ selecteduser.username }} hasn't uploaded a profile picture.
		{% endif %}
	{% endif %}

	<!-- These might not all be necessary but we can see how to get this info  -->
	<h5>{{ selecteduser.username }}'s current balance: {{ userprofile.balance }}</h5>
	<!-- Think this will only display first group properly, BUT they should only have one in the simplest case -->

	<div>
	{% if selecteduser.groups.all.0 %}
		<h5>
			Member of group: {{ selecteduser.groups.all.0 }}</br>
			<a href="{% url 'group' user.groups.all.0 %}">Visit your group page</a>
	     </h5>
    <div>
		{% if selecteduser.username == user.username %}
			<b>Add item</b>
				<form id="itemForm" method="post" action".">

				{% csrf_token %}

				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}

			<!-- Button to click to submit the form -->
			<input type="submit" name="submit" value="Add Item" onClick="myAlert()"/>
			</form>
				<script>
					function myAlert() {
						alert("Item successfully added")}
				</script>
		{% endif %}

	</div>
<!-- View Group list -->
         <div>
			        {% if Items %}
			        <ul> <b>Communal shopping list:</b>
			            {% for item in Items %}
									<!-- Only show the items belonging to this group! -->
			            <li>{% if selecteduser.groups.all.0 == item.groupBuying %}
			                	{{ item.itemName }}
											{% endif %}
			            </li>
			            {% endfor %}
			        </ul>
			        {% else %}
			          Your shopping list is empty.
			        {% endif %}
    </div>
	{% else %}
			<h5>Not a member of any groups :(</h5>

			{% if selecteduser.username == user.username %}
				<div>
					<a href="{% url 'create-group' %}">Create a Group</a>
		    </div>
			{% endif %}
			</br>
			<h5>POSSIBLE TO-DO: GIVE THEM A WAY TO JOIN AN EXISTING GROUP?</h5>

	{% endif %}
	</div>
	</br>


  <div>
{% endblock %}
